<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024084815287-t3596tgqfg6c6f9l9tq1u4nb5f1b0p6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024084815287-t3596tgqfg6c6f9l9tq1u4nb5f1b0p6q</string>
	<key>API_KEY</key>
	<string>AIzaSyBElViS2QGwVlxTgTemYJ9DGUKm6iILMv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1024084815287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WB.OneStopClick</string>
	<key>PROJECT_ID</key>
	<string>onestopclick-a87ea</string>
	<key>STORAGE_BUCKET</key>
	<string>onestopclick-a87ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024084815287:ios:564e3da082afd1fff08c32</string>
	<key>DATABASE_URL</key>
	<string>https://onestopclick-a87ea.firebaseio.com</string>
</dict>
</plist>